<!DOCTYPE html>
<html lang="en">
  {%load static%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago</title>
</head>
<body>
  <div>
    <form action="pago" method="post">
      {% csrf_token %}
      <h1>Pago</h1>
      <p><strong>N. orden: </strong><span id="orden_txt"></span></p>
      <input type="hidden" name="ordenCompra" id="orden_value" value="">

      <p><strong>Sesión: </strong><span id="sesion_txt"></span></p>
      <input type="hidden" name="idSesion" id="sesion_value" value="">

      <p><strong>Precio: </strong><span id="pesos"></span></p>

      <input type="hidden" name="monto" id="monto" value="9000">

      <p><strong>En dolares: </strong><span id="dolares"></span></p>
      <button type="submit">Realizar pedido</button>
    </form>
  </div>
  <script src="static/js/api-dolar.js"></script>
  <script src="static/js/pedido.js"></script>
</body>
</html>