<!DOCTYPE html>
<html lang="en">
  {%load static%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link href="{% static '../static/css/style.css' %}" rel="stylesheet" />

</head>
<body>
  <div style="background-color: yellow; width: 50%; margin: auto">

    <div class="menu-carrito">
      <p>Carrito</p>
      <div id="carrito">                               
        <table id="lista-carrito">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="#" id="vaciar-carrito">Vaciar Carrito</a>
        <td><a href="{% url "pedido" %}" id="comprar">Comprar</a></td>
      </div>
    </div>

    <h1>Productos</h1>
    
      <div class="" id="lista-productos">
        {% for producto in productos %}
        <div class="card">
          <div class="info-card">
              <h4>{{producto.nombreProducto}}</h4>
              <p><span>{{producto.precioProducto}}</span></p>
              <img src={{producto.imagenProducto}}>
              <a href="#" class="agregar-carrito" data-id="{{producto.idProducto}}">Agregar Al Carrito</a>
          </div>
      </div>
        {% endfor %}
      </div>
  </div>
</body>
<script src="static/js/carrito.js"></script>
</html>